.error{
	border: 1px solid red;
}
.success{
	border: 1px solid green;
}

.hideMessage{
	display: none;
}
.displayMessage {
	display: block;
	
}
.hide {display:none!important }
.submit{
	background-color: #00C5BE;
   border: none;
   color: #fff;
   font-size: 1em;
   padding: 10px 50px;
   text-transform: uppercase;
   font-weight: normal;
}
